@charset "utf-8";
/* CSS Document */
/********** BASES *****************/
body {
	background-color:#FFF;
    margin: auto;
    max-width: 1000px;
	background-image: url(../images/fondogrande.jpg);
	background-repeat:repeat-x;
}
#contenido {

    background-color: #070f84;
    border: 7px solid #e7e82f; /*border color*/
    padding: .5em 2ex;
    color: #e7e82f;
}

#contenido label{
    color: #fefee2;

}
#top {
	background-image: url(../images/titulo.png);
	background-repeat: no-repeat center top;
	width: 498px;
	height: 99px;
	margin: auto;
}
#pie {
}
/********** DIV LOGIN *****************/
#login{
	position:relative;
	top:-51px;
	left: 400px;
	width:300px;
}

/************* EFECTO SOMBRA ******************/

.blur{
   background-color: #ccc; /*shadow color*/
   color: inherit;
   margin-left: 4px;
   margin-top: 4px;
}

.shadow,
.contenido{
   position: relative;
   bottom: 2px;
   right: 2px;
}

.shadow{
   background-color: #666; /*shadow color*/
   color: inherit;
}

.contenido{
   background-color: #fff; /*background color of content*/
   color: #000; /*text color of content*/
} 