Options +Indexes
Options +FollowSymLinks



RewriteEngine on
RewriteBase /

RewriteRule ^/?$ es/ [R]

RewriteRule ^logout$ login/logout.php [L]

RewriteRule ^([a-z]+)/empresa/([0-9]+)$ index.php?lang=$1&id_empresa=$2&mod=empresa [L]
RewriteRule ^([a-z]+)/perfil/([0-9]+)$ index.php?lang=$1&id_usuario=$2&mod=perfil [L]
RewriteRule ^([a-z]+)/mercado/([0-9]+)/([0-9]+)/([0-9]+)$ index.php?lang=$1&producto=$2&mod=mercado&pais=$3&pag=$4 [L]
RewriteRule ^([a-z]+)/mercado_laboral/([0-9]+)/([0-9]+)/([0-9]+)$ index.php?lang=$1&producto=$2&mod=mercado_laboral&pais=$3&pag=$4 [L]
RewriteRule ^([a-z]+)/pais/([0-9]+)$ index.php?lang=$1&id_pais=$2&mod=info_pais [L]
RewriteRule ^([a-z]+)/region/([0-9]+)$ index.php?lang=$1&id_region=$2&mod=info_region [L]
RewriteRule ^([a-z]+)/partido/([0-9]+)$ index.php?lang=$1&id_partido=$2&mod=info_partido [L]
RewriteRule ^([a-z]+)/partidos/([0-9]+)$ index.php?lang=$1&id_pais=$2&mod=lista_partidos [L]
RewriteRule ^([a-z]+)/war/([0-9]+)$ index.php?lang=$1&id_guerra=$2&mod=guerra [L]
RewriteRule ^([a-z]+)/guerras/([0-9]+)$ index.php?lang=$1&id_pais=$2&mod=lista_guerras [L]
RewriteRule ^([a-z]+)/laws/([0-9]+)$ index.php?lang=$1&id_pais=$2&mod=laws [L]


RewriteRule ^es/([a-z_]+) index.php?lang=es&mod=$1 [L]
RewriteRule ^en/([a-z_]+) index.php?lang=en&mod=$1 [L]
RewriteRule ^ca/([a-z_]+) index.php?lang=ca&mod=$1 [L]
RewriteRule ^eu/([a-z_]+) index.php?lang=eu&mod=$1 [L]
RewriteRule ^pt/([a-z_]+) index.php?lang=pt&mod=$1 [L]

RewriteRule ^([a-z]+)/$ index.php?lang=$1 [L]

