@charset "utf-8";
/* CSS Document */
/********** BASES *****************/
body {
    background-color:#FFF;
    margin: auto;
    max-width: 1000px;
	background-image: url(../images/fondogrande.jpg);
	background-repeat:no-repeat;
	background-position:center center;
	background-attachment:fixed;
	-o-background-size: 100% 100%, auto;
	-moz-background-size: 100% 100%, auto;
	-webkit-background-size: 100% 100%, auto;
	background-size: 100% 100%, auto;		
}
#contenido {
    background-image: url("../images/fondocontenedor.png");
    border: 7px solid #f9ba68;
    /*color: #E7E82F;*/
    margin-top: 2em;
    padding: 0.5em 2ex;
		
}

#contenido label{
    color: #fefee2;

}
#top {
/*	background-image: url(../images/logo3.png);
	background-repeat: no-repeat center top;
	width: 498px;
	height: 99px;
	margin: auto;*/
    background-image: url("../images/logo3.png");
    background-repeat: no-repeat;
    height: 100px;
    margin: auto;
    width: 610px;
}
#pie {
}
/********** DIV LOGIN *****************/
#login{
    padding-left: 22em;
    min-height: 500px;
    position: relative;
}

/************* EFECTO SOMBRA ******************/

.blur{
   background-color: #ccc; /*shadow color*/
   color: inherit;
   margin-left: 4px;
   margin-top: 4px;
}

.shadow,
.contenido{
   position: relative;
   bottom: 2px;
   right: 2px;
}

.shadow{
   background-color: #666; /*shadow color*/
   color: inherit;
}

.contenido{
   background-color: #fff; /*background color of content*/
   color: #000; /*text color of content*/
} 

a:link, a:visited{
    color: blue;
}

.ultimos_articulos{
    background-color: gainsboro;
    color: #09C;
    font-size: 16px;
    border-top-left-radius:1em;
    border-top-right-radius:1em;
}
.ultimos_articulos a{
    color:black;
    
}